<launch>

    

  <!-- Including node1.launch -->
  <include file="$(find turtlebot3_manipulation_bringup)/launch/turtlebot3_manipulation_bringup.launch"/>

  <!-- Including node2.launch -->
  <include file="$(find turtlebot3_manipulation_moveit_config)/launch/move_group.launch"/>

  <node name="Manipulator_Controller" pkg="manipulator_control" type="move_group_node.py" output="screen"/>

</launch>
